# Tutorial: Joining Tracking and Play-by-Play Data
Pascale Walters, Mar. 26, 2022

## Step 1: Find the power play information

In [1]:
import pandas as pd

In [2]:
power_play_info_file = 'pp_info.csv'
power_play_info = pd.read_csv(power_play_info_file)
power_play_info.head()

,game_name,penalty_number,start_video_clock_seconds,end_video_clock_seconds,start_period,end_period,start_game_clock_seconds,end_game_clock_seconds
0,2022-02-08 Canada at USA,1,1278,1314,1,1,386,350
1,2022-02-08 Canada at USA,2,1624,1744,1,1,216,96
2,2022-02-08 Canada at USA,3,409,562,2,2,991,871
3,2022-02-08 Canada at USA,4,898,898,2,2,613,613
4,2022-02-08 Canada at USA,5,1690,1927,2,2,272,152

Let's focus on the first power play in the information file! It happened during the game between Canada and USA on 2022-02-08 and was the first power play of the game (`penalty_number = 1`). This penalty happened during the first period, and did not overflow into the second (`start_period = 1`, `end_period = 1`). The game clock read 386 seconds at the beginning, which is 6:26, and ended at 350 seconds, or 5:50.

## Step 2: Find the play-by-play data

Now that we know the start and end times of the given period, we can look into the play-by-play data to find the associated events.

In [4]:
play_by_play_data = pd.read_csv('../pxp_womens_oly_2022_v2.csv')
play_by_play_data.head()

,game_date,season_year,team_name,opp_team_name,venue,period,clock_seconds,situation_type,goals_for,goals_against,...,event_successful,x_coord,y_coord,event_type,player_name_2,x_coord_2,y_coord_2,event_detail_1,event_detail_2,event_detail_3
0,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1200,5 on 5,0,0,...,t,100,42,Backhand,Hannah Brandt,NaN,NaN,NaN,NaN,NaN
1,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1199,5 on 5,0,0,...,t,86,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1198,5 on 5,0,0,...,f,96,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1197,5 on 5,0,0,...,t,124,1,Dumped,Cayla Barnes,NaN,NaN,NaN,NaN,NaN
4,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,1194,5 on 5,0,0,...,t,6,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's select the events for our game (2022-02-08 Canada at USA).

In [5]:
# Look for events that happened on 8/2/2022, and where the team performing the event is either Canada or USA
game_events = play_by_play_data.loc[(play_by_play_data['game_date'] == '8/2/2022') & 
                                    ((play_by_play_data['team_name'] == 'Olympic (Women) - Canada') |
                                        (play_by_play_data['team_name'] == 'Olympic (Women) - United States'))]
game_events.head()

,game_date,season_year,team_name,opp_team_name,venue,period,clock_seconds,situation_type,goals_for,goals_against,...,event_successful,x_coord,y_coord,event_type,player_name_2,x_coord_2,y_coord_2,event_detail_1,event_detail_2,event_detail_3
0,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1200,5 on 5,0,0,...,t,100,42,Backhand,Hannah Brandt,NaN,NaN,NaN,NaN,NaN
1,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1199,5 on 5,0,0,...,t,86,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1198,5 on 5,0,0,...,f,96,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1197,5 on 5,0,0,...,t,124,1,Dumped,Cayla Barnes,NaN,NaN,NaN,NaN,NaN
4,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,1194,5 on 5,0,0,...,t,6,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now that we have our game events, we can further filter them down to the period we want.

In [6]:
period_events = game_events.loc[game_events['period'] == 1]
period_events.head()

,game_date,season_year,team_name,opp_team_name,venue,period,clock_seconds,situation_type,goals_for,goals_against,...,event_successful,x_coord,y_coord,event_type,player_name_2,x_coord_2,y_coord_2,event_detail_1,event_detail_2,event_detail_3
0,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1200,5 on 5,0,0,...,t,100,42,Backhand,Hannah Brandt,NaN,NaN,NaN,NaN,NaN
1,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1199,5 on 5,0,0,...,t,86,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1198,5 on 5,0,0,...,f,96,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,1197,5 on 5,0,0,...,t,124,1,Dumped,Cayla Barnes,NaN,NaN,NaN,NaN,NaN
4,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,1194,5 on 5,0,0,...,t,6,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN

And now, we get the events that happened during our power play! Remember, we want events between 386 and 350 clock seconds.

In [7]:
pp_events = period_events.loc[(period_events['clock_seconds'] <= 386) &
                              (period_events['clock_seconds'] >= 350)]
pp_events.head()

,game_date,season_year,team_name,opp_team_name,venue,period,clock_seconds,situation_type,goals_for,goals_against,...,event_successful,x_coord,y_coord,event_type,player_name_2,x_coord_2,y_coord_2,event_detail_1,event_detail_2,event_detail_3
435,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,386,5 on 5,0,0,...,f,5,67,Cross-checking,Sarah Fillier,NaN,NaN,NaN,NaN,NaN
436,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,386,4 on 5,0,0,...,t,31,65,Backhand,Marie-Philip Poulin,NaN,NaN,NaN,NaN,NaN
437,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,383,4 on 5,0,0,...,t,6,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,8/2/2022,2021,Olympic (Women) - United States,Olympic (Women) - Canada,home,1,382,4 on 5,0,0,...,f,4,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,380,5 on 4,0,0,...,t,165,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 3: Get tracking data for the power play

This is a bit easier, since we have a dedicated file for the power play tracking.

In [8]:
pp_tracking = pd.read_csv('2022-02-08 Canada at USA/2022-02-08 Canada at USA P1 PP1.csv')
pp_tracking.head()

,frame_id,period,track_id,team_id,team_name,jersey_number,x_ft,y_ft
0,301,1,1,Light,Canada,6,171.071705,46.072340
1,301,1,2,Dark,USA,2,194.278571,41.647639
2,301,1,3,Dark,USA,37,194.258524,47.182641
3,301,1,4,Light,Canada,11,202.732672,67.352362
4,301,1,5,Dark,USA,28,174.116300,38.757970

## Step 4: Merge the play-by-play and tracking data

This is probably the most complicated part of the process! One **really** important thing to note: events are given at the second scale and tracking observations are given **30 times per second**.

How do we deal with this? It's kind of up to you and the question you're looking to answer! I'll give an example here.

Let's first take a look at the frame IDs given in the tracking data.

In [10]:
pp_tracking['frame_id'].unique()

array([ 301,  302,  303,  304,  305,  306,  307,  308,  309,  310,  311,
        312,  313,  314,  315,  316,  317,  318,  319,  320,  321,  322,
        323,  324,  325,  326,  327,  328,  329,  330,  331,  332,  333,
        334,  335,  336,  337,  338,  339,  340,  341,  342,  343,  344,
        345,  346,  347,  348,  349,  350,  351,  352,  353,  354,  355,
        356,  357,  358,  359,  360,  361,  362,  363,  364,  365,  366,
        367,  368,  369,  370,  371,  372,  373,  374,  375,  376,  377,
        378,  379,  380,  381,  382,  383,  384,  385,  386,  387,  388,
        389,  390,  391,  392,  393,  394,  395,  396,  397,  398,  399,
        400,  401,  402,  403,  404,  405,  406,  407,  408,  409,  410,
        411,  412,  413,  414,  415,  416,  417,  418,  419,  420,  421,
        422,  423,  424,  425,  426,  427,  428,  429,  430,  431,  432,
        433,  434,  435,  436,  437,  438,  439,  440,  441,  442,  443,
        444,  445,  446,  447,  448,  449,  450,  451,  452,  453,  454,
        455,  456,  457,  458,  459,  460,  461,  462,  463,  464,  465,
        466,  467,  468,  469,  470,  471,  472,  473,  474,  475,  476,
        477,  478,  479,  480,  481,  482,  483,  484,  485,  486,  487,
        488,  489,  490,  491,  492,  493,  494,  495,  496,  497,  498,
        499,  500,  501,  502,  503,  504,  505,  506,  507,  508,  509,
        510,  511,  512,  513,  514,  515,  516,  517,  518,  519,  520,
        521,  522,  523,  524,  525,  526,  527,  528,  529,  530,  531,
        532,  533,  534,  535,  536,  537,  538,  539,  540,  541,  542,
        543,  544,  545,  546,  547,  548,  549,  550,  551,  552,  553,
        554,  555,  556,  557,  558,  559,  560,  561,  562,  563,  564,
        565,  566,  567,  568,  569,  570,  571,  572,  573,  574,  575,
        576,  577,  578,  579,  580,  581,  582,  583,  584,  585,  586,
        587,  588,  589,  590,  591,  592,  593,  594,  595,  596,  597,
        598,  599,  600,  601,  602,  603,  604,  605,  606,  607,  608,
        609,  610,  611,  612,  613,  614,  615,  616,  617,  618,  619,
        620,  621,  622,  623,  624,  625,  626,  627,  628,  629,  630,
        631,  632,  633,  634,  635,  636,  637,  638,  639,  640,  641,
        642,  643,  644,  645,  646,  647,  648,  649,  650,  651,  652,
        653,  654,  655,  656,  657,  658,  659,  660,  661,  662,  663,
        664,  665,  666,  667,  668,  669,  670,  671,  672,  673,  674,
        675,  676,  677,  678,  679,  680,  681,  682,  683,  684,  685,
        686,  687,  688,  689,  690,  691,  692,  693,  694,  695,  696,
        697,  698,  699,  700,  701,  702,  703,  704,  705,  706,  707,
        708,  709,  710,  711,  712,  713,  714,  715,  716,  717,  718,
        719,  720,  721,  722,  723,  724,  725,  726,  727,  728,  729,
        730,  731,  732,  733,  734,  735,  736,  737,  738,  739,  740,
        741,  742,  743,  744,  745,  746,  747,  748,  749,  750,  751,
        752,  753,  754,  755,  756,  757,  758,  759,  760,  761,  762,
        763,  764,  765,  766,  767,  768,  769,  770,  771,  772,  773,
        774,  775,  776,  777,  778,  779,  780,  781,  782,  783,  784,
        785,  786,  787,  788,  789,  790,  791,  792,  793,  794,  795,
        796,  797,  798,  799,  800,  801,  802,  803,  804,  805,  806,
        807,  808,  809,  810,  811,  812,  813,  814,  815,  816,  817,
        818,  819,  820,  821,  822,  823,  824,  825,  826,  827,  828,
        829,  830,  831,  832,  833,  834,  835,  836,  837,  838,  839,
        840,  841,  842,  843,  844,  845,  846,  847,  848,  849,  850,
        851,  852,  853,  854,  855,  856,  857,  858,  859,  860,  861,
        862,  863,  864,  865,  866,  867,  868,  869,  870,  871,  872,
        873,  874,  875,  876,  877,  878,  879,  880,  881,  882,  883,
        884,  885,  886,  887,  888,  889,  890,  891,  892,  893,  894,
        895,  896,  897,  898,  899,  900,  901,  902,  903,  904,  905,
        906,  907,  908,  909,  910,  911,  912,  913,  914,  915,  916,
        917,  918,  919,  920,  921,  922,  923,  924,  925,  926,  927,
        928,  929,  930,  931,  932,  933,  934,  935,  936,  937,  938,
        939,  940,  941,  942,  943,  944,  945,  946,  947,  948,  949,
        950,  951,  952,  953,  954,  955,  956,  957,  958,  959,  960,
        961,  962,  963,  964,  965,  966,  967,  968,  969,  970,  971,
        972,  973,  974,  975,  976,  977,  978,  979,  980,  981,  982,
        983,  984,  985,  986,  987,  988,  989,  990,  991,  992,  993,
        994,  995,  996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004,
       1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015,
       1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026,
       1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037,
       1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048,
       1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059,
       1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068])

Okay, so we can see that there are a bunch of observations! Remember that each frame ID corresponds to 1/30 seconds. One interesting thing I can see is that the frame IDs start at 301, not 1. 

Why is that?

Since our computer vision algorithm can only run for video from the main broadcast camera, we get rid of replays or any other video that's from a different camera. My guess here is that the start of the power play was filmed with a different camera.

What do we do?

Let's look into the shot information file! In the context of the computer vision data, shots are **video shots**. A (video) shot is a continuous sequence of video filmed from **one** camera.

In [12]:
video_shot_information = pd.read_csv('2022-02-08 Canada at USA/videoShotsInfo_2022-02-08 Canada at USA P1 PP1.csv')
video_shot_information

,shot_ind,frame_start_shot,frame_end_shot,time_start_shot(sec),time_end_shot(sec)
0,1,301,1070,10.0,35.67

Let's interpret this data!

We have **one** shot from the main broadcast camera. We can see that before frame 301, the video probably came from another camera. This means that our player tracking data starts **10 seconds** into the power play. This means that the time on the clock when the tracking starts is 386 (time of the start of the power play) - 10 (time until the tracking starts) = **376 seconds**.

The tracking ends at clock seconds 386 (time of the start of the power play) - 35.67 (length of the video shot) = **350 seconds** (I just rounded to get even seconds, since that's what's in the event data).

Let's get the matching event data for this!

In [13]:
matching_event_data = pp_events = period_events.loc[(period_events['clock_seconds'] <= 376) &
                              (period_events['clock_seconds'] >= 350)]
matching_event_data.head()

,game_date,season_year,team_name,opp_team_name,venue,period,clock_seconds,situation_type,goals_for,goals_against,...,event_successful,x_coord,y_coord,event_type,player_name_2,x_coord_2,y_coord_2,event_detail_1,event_detail_2,event_detail_3
441,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,375,5 on 4,0,0,...,t,185,7,Direct,Marie-Philip Poulin,139.0,5.0,NaN,NaN,NaN
442,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,373,5 on 4,0,0,...,t,161,3,Direct,Rebecca Johnston,143.0,19.0,NaN,NaN,NaN
443,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,366,5 on 4,0,0,...,t,176,3,Direct,Marie-Philip Poulin,130.0,17.0,NaN,NaN,NaN
444,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,365,5 on 4,0,0,...,t,130,17,Direct,Erin Ambrose,133.0,55.0,NaN,NaN,NaN
445,8/2/2022,2021,Olympic (Women) - Canada,Olympic (Women) - United States,away,1,363,5 on 4,0,0,...,t,139,55,Direct,Brianne Jenner,176.0,42.0,NaN,NaN,NaN

And that's it! I'm really looking forward to the interesting projects that you come up with!

Please feel free to connect with me during office hours if you have any further questions.